html {
	font-family: "Courier New", monospace;
	font-size: 24px;
	font-weight: bold;
}

body {
	margin: auto;
	width: 1280px;
	background: #000020;
}

h1, h2, h3, h4, h5, h6 {
	color: #ffffff;
	text-align: center;
}

p, a {
	color: #808080;
	text-align: justify;
}

.affinities {
}

.affinitiesImages {
	margin: auto;
	width: 1088px;
	height: 675px;
}

.affinitiesText h1 {
	color: #00ffff;
}

.biomes {
}

.biomesImages {
	margin: auto;
	width: 1088px;
	height: 675px;
}

.biomesText h1 {
	color: #00ff00;
}

.equipment {
}

.equipmentImages {
	margin: auto;
	width: 1088px;
	height: 675px;
}

.equipmentImages1, .equipmentImages2 {
	margin: auto;
	width: 544px;
	height: 675px;
}

.equipmentImages1 {
	float: left;
}

.equipmentImages2 {
	float: right;
}

.equipmentText h1 {
	color: #ffff00;
}

.monstersImages {
	margin: auto;
	width: 1088px;
	height: 675px;
}

.monstersImages1, .monstersImages2 {
	margin: auto;
	width: 544px;
	height: 675px;
}

.monstersImages1 {
	float: left;
}

.monstersImages2 {
	float: right;
}

.monstersText h1 {
	color: #ff0000;
}

.pClasses {
}

.pClassesImages {
	margin: auto;
	width: 1088px;
	height: 675px;
}

.pClassesText h1 {
	color: #ff0080;
}

.goldText {
	color: #ffc040;
}

.greenText {
	color: #00ff00;
}

.tealText {
	color: #0080ff;
}

.violetText {
	color: #8000ff;
}

.whiteText {
	color: #ffffff;
}
