html {
	font-family: "Courier New", monospace;
	font-size: 24px;
	font-weight: bold;
}

body {
	margin: auto;
	width: 1280px;
	background-image: url("images/background.png");
	background-color: #000020;
}

h1, h2, h3, h4, h5, h6 {
	color: #ffffff;
	text-align: center;
}

p {
	color: #808080;
	text-align: justify;
}

a:link, a:visited {
	color: #008000;
	text-decoration: none;
}

a:hover, a:active {
	color: #000000;
	background: #ffffff;
}

.affinitiesImages {
	margin: auto;
	width: 1088px;
	height: 675px;
	border: 3px solid #404040;
}

.affinitiesText h1 {
	color: #00ffff;
}

.biomesImages {
	margin: auto;
	width: 1088px;
	height: 675px;
	border: 3px solid #404040;
}

.biomesText h1 {
	color: #00ff00;
}

.downloadLink {
	color: #ffffff;
	text-align: center;
}

.equipmentImages {
	margin: auto;
	width: 1088px;
	height: 675px;
	border: 3px solid #404040;
}

.equipmentImages1, .equipmentImages2 {
	margin: auto;
	width: 544px;
	height: 675px;
}

.equipmentImages1 {
	float: left;
}

.equipmentImages2 {
	float: right;
}

.equipmentText h1 {
	color: #ffff00;
}

.monstersImages {
	margin: auto;
	width: 1088px;
	height: 675px;
	border: 3px solid #404040;
}

.monstersImages1, .monstersImages2 {
	margin: auto;
	width: 544px;
	height: 675px;
}

.monstersImages1 {
	float: left;
}

.monstersImages2 {
	float: right;
}

.monstersText h1 {
	color: #ff0000;
}

.pClassesImages {
	margin: auto;
	width: 1088px;
	height: 675px;
	border: 3px solid #404040;
}

.pClassesText h1 {
	color: #ff0080;
}

.title, .biomes, .equipment, .monsters, .pClasses, .affinities {
	padding-top: 10%;
}

.goldText {
	color: #ffc040;
}

.greenText {
	color: #00ff00;
}

.redText {
	color: #ff0000;
}

.tealText {
	color: #0080ff;
}

.violetText {
	color: #8000ff;
}

.whiteText {
	color: #ffffff;
}
